{% extends 'base.html' %} 
{% load static %} 
{% block title %}imagebot.html{% endblock %} 


{% block content %}
<!-- iframe allow="microphone;" width="350" height="430"
			src="https://console.dialogflow.com/api-client/demo/embedded/22ba24ff-f9e6-4977-a078-24bd49c11821">
		</iframe -->
		
<!--iframe allow="camera;" width="350" height="430"
			src="index0.html">
		</iframe -->
		
<iframe width="350" height="430"
			src="index0.html">
		</iframe>

{% endblock content %} 

{% block footer %}
<footer class="fixed-bottom bg-info">
	<div class="text-white font-italic text-right mr-5">Copyright
		&copy; 2021 비젼직업전문학교 인공학습팀</div>
</footer>
{% endblock %}

